body {
background: #00ffff;
color: #000000;
font-family: Trebuchet MS, Arial, Times New Roman;
font-size: 12px;
}
#container {
background: #cfecf0;
margin: 15px auto;
width: 1024px;
}
#header {
}
#content {
background: #cfecf0;
}
#lessons {
background: #cfecf0;
}
#footer {
margin: 15px auto;
background: #cfecf0;
}