body {
    /*тело страницы*/
    background: #009361; /*цвет фона*/
    color: #e5f0ec; /*цвет содержания*/
    font-family: Trebuchet MS, Arial, Times New Roman; /*шрифты по умолчанию*/
    font-size: 14px; /*размер шрифта по умлчанию*/
}

#content {
    /*содерджание*/
    width: 768px; /*ширина*/
    margin: 0 auto; /*отступы*/
}

.header {
    /*шапка/заголовок страниц*/
    margin: 0 auto;
    font-weight: bold; /*шрифт жирный*/
    text-align: center; /*выровнять текст по цетру*/
    font-size: 20px; /*размер шрифта*/
}

#player1 {
    /*карты первого*/
    margin: 15px auto;
    height: 260px; /*высота*/
    position: relative;
    z-index: 10;
    float: left;
}

#control {
    /*формы раздачи карт*/
    margin: 15px auto;
    height: 260px; /*высота*/
    position: relative;
    top: 20px;
    left: 220px;
    z-index: 12;
    float: left;
}

#player2 {
    /*карты второго*/
    margin: 15px auto;
    height: 260px; /*высота*/
    position: relative;
    z-index: 11;
    float: right;
}

.card1 {
    /*игральная карта*/
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 1;
    background: #ffffff;
    width: 50px; /*ширина*/
    height: 85px; /*высота*/
    margin: 5px; /*отступы снаружи*/
    padding: 4px 5px 5px 5px; /*отступы внтрри блока*/
    border: 2px ridge #01DF3A; /*бордюр/рамка*/
}

.card2 {
    /*игральная карта*/
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 2;
    background: #ffffff;
    width: 50px; /*ширина*/
    height: 85px; /*высота*/
    margin: 5px; /*отступы снаружи*/
    padding: 4px 5px 5px 5px; /*отступы внтрри блока*/
    border: 2px ridge #01DF3A; /*бордюр/рамка*/
}

.card3 {
    position: absolute;
    /*игральная карта*/
    top: 60px;
    left: 20px;
    z-index: 3;
    background: #ffffff;
    width: 50px; /*ширина*/
    height: 85px; /*высота*/
    margin: 5px; /*отступы снаружи*/
    padding: 4px 5px 5px 5px; /*отступы внтрри блока*/
    border: 2px ridge #01DF3A; /*бордюр/рамка*/
}

.card4 {
    /*игральная карта*/
    top: 80px;
    left: 30px;
    z-index: 4;
    position: absolute;
    background: #ffffff;
    width: 50px; /*ширина*/
    height: 85px; /*высота*/
    margin: 5px; /*отступы снаружи*/
    padding: 4px 5px 5px 5px; /*отступы внтрри блока*/
    border: 2px ridge #01DF3A; /*бордюр/рамка*/
}

.card5 {
    /*игральная карта*/
    top: 100px;
    left: 40px;
    z-index: 5;
    position: absolute;
    background: #ffffff;
    width: 50px; /*ширина*/
    height: 85px; /*высота*/
    margin: 5px; /*отступы снаружи*/
    padding: 4px 5px 5px 5px; /*отступы внтрри блока*/
    border: 2px ridge #01DF3A; /*бордюр/рамка*/
}

.card6 {
    /*игральная карта*/
    top: 120px;
    left: 50px;
    z-index: 6;
    position: absolute;
    background: #ffffff;
    width: 50px; /*ширина*/
    height: 85px; /*высота*/
    margin: 5px; /*отступы снаружи*/
    padding: 4px 5px 5px 5px; /*отступы внтрри блока*/
    border: 2px ridge #01DF3A; /*бордюр/рамка*/
}

.card7 {
    /*игральная карта*/
    top: 140px;
    left: 60px;
    z-index: 7;
    position: absolute;
    background: #ffffff;
    width: 50px; /*ширина*/
    height: 85px; /*высота*/
    margin: 5px; /*отступы снаружи*/
    padding: 4px 5px 5px 5px; /*отступы внтрри блока*/
    border: 2px ridge #01DF3A; /*бордюр/рамка*/
}

.card8 {
    /*игральная карта*/
    top: 160px;
    left: 80px;
    z-index: 8;
    position: absolute;
    background: #ffffff;
    width: 50px; /*ширина*/
    height: 85px; /*высота*/
    margin: 5px; /*отступы снаружи*/
    padding: 4px 5px 5px 5px; /*отступы внтрри блока*/
    border: 2px ridge #01DF3A; /*бордюр/рамка*/
}

.butt {
    /*кнопки/ссылки*/
    color: #ffff00;
    margin: 5px auto;
    font-weight: bold; /*шрифт жирный*/
    text-align: center; /*выровнять текст по цетру*/
}

.sumCard {
    /*сумма карт игрока*/
    position: absolute;
    top: 260px;
    left: 0px;
    font-size: 14px;
    text-decoration: underline; /*подчеркивание текста*/
    font-weight: bold; /*шрифт жирный*/
    text-align: center;
    color: #09cd4c;
    padding: 4px 10px 0px 0px;
}

.piki {
    /*пики*/
    font-weight: bold;
    color: #000000;
    padding: 4px auto;
}

.kresti {
    /*крести*/
    font-weight: bold;
    color: #000000;
    padding: 4px auto;
}

.bubni {
    /*бубны*/
    font-weight: bold;
    color: #b20000;
    padding: 4px auto;
}

.cervi {
    /*черви*/
    font-weight: bold;
    color: #b20000;
    padding: 4px auto;
}

.victory {
    /*текст выигрыша*/
    text-align: center; /*выровнять текст по цетру*/
    font-size: 20px;
    font-weight: bold;
    background: #00472f;
    color: #ffd700;
    border: 4px dotted #ccac00;
    padding: 10px;
    margin: 20px;
}

.losing {
    /*текст прогирыша*/
    text-align: center; /*выровнять текст по цетру*/
    font-size: 20px;
    font-weight: bold;
    background: #00472f;
    color: #FF0040;
    border: 4px double #FE2E2E;
    padding: 10px;
    margin: 20px;
}

.rules {
    /*текст правил*/
    font-size: 12px;
    font-weight: bold;
    background: #00ffff;
    color: #800000;
    border: 2px dotted #c1d2d3;
    padding: 10px;
    margin: 20px;
}

.errorText {
    /*текст ошибок*/
    text-align: center; /*выровнять текст по цетру*/
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
    border: 4px dotted #ff0000;
    padding: 10px;
    margin: 20px;
}